.App {
	max-width: 400px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.errorLabel {
	color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.header {
	color: rgb(2, 2, 2);
	text-align: center;
}

.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submitButton:hover {
    background-color: #0056b3;
}

.errorLabel {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;

}
